# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\DHBW\software-engineering\II\03_training\02_entwurfsmuster\01_selbststudium\02_abgabe\2627585\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
